.rightAlign {
    margin: 10px;
    float: right;
} 

.stlWindow {
    height: 85%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.centerAlign {
    text-align: center;
}