.rightAlign {
    margin: 10px;
    float: right;
} 

.stlWindow {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.centerAlign {
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    .centerAlign {
        text-align: center;
        font-size: 70%;
    }
}