.projectCard {
  
    width: 180px;
    height: 210px;
    text-align: center;
  }

  .headerImg {
    height: 180px;
    width: 200;
  }

.mat-card{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}
