.spacer {
    flex: 1 1 auto;
  }

  .logo {
      height: 50px;
      width: 50px;
      padding: 10px;
      border-radius: 2em;
  }

  .codeDivider {
    padding-left: 8px;
    padding-right: 8px;
  }

  
@media screen and (max-device-width: 480px) {
  .spacer {
    flex: 1 1 auto;
  }

  .logo {
      height: 50px;
      width: 50px;
      padding: 5px;
      border-radius: 3em;
  }
  .footerLocation{
    font-size: 70%;
  }

}